
  .rows{
    display: flex;
    margin-bottom: 10px;
    column-gap: 10px;
  }
  .rows .cols{
    flex: 1 1 200px;

  }
  .form{
    border: 1px solid powderblue;

  }
  .radio-buttons{
    display: flex;
  }
  .radio-buttons input[type="radio"]{
    width: 20px;
    height: 20px;
  }
  .control-group{
    display: flex;
    font-size: 15px;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
  }

    .k-form{
      margin-top: -6px;
    }
