<kendo-card style="width: 100%;    padding: 22px;
">
<kendo-card-header>Form</kendo-card-header>
<kendo-card-body>
  <form  [formGroup]="form">
    <div class="rows">

      <div class="cols">
        <kendo-label text="Source Api"></kendo-label>
          <kendo-textbox formControlName="sourceApi"  ></kendo-textbox>
      </div>
      <div class="cols">
        <kendo-label text="Select Action"></kendo-label>
        <kendo-dropdownlist formControlName="action"  [data]="action"> </kendo-dropdownlist>
      </div>

      <div class="cols" >
        <kendo-label text="Select "></kendo-label>
        <kendo-dropdownlist formControlName="sendData" [data]="sendData"> </kendo-dropdownlist>
      </div>
      <div class="cols" style="text-align: -webkit-center;
      padding: 19px;">

        <button kendoButton  (click)="submitForm()">Submit</button>
      </div>
    </div>
  </form>

</kendo-card-body>

</kendo-card>
