

    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <p>Choose a sport:</p>
            <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>
         
        </kendo-card-header>
      </kendo-card>
      
    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <p>Choose a sport:</p>
            <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>
         
        </kendo-card-header>
      </kendo-card>
      
    <kendo-card width="360px">
        <kendo-card-header class="k-hstack">
            <p>Choose a sport:</p>
            <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>
         
        </kendo-card-header>
      </kendo-card>