
@import "./../../styles.css";
kendo-drawer-container {
  flex: 1 1 auto;
  overflow-y: auto;
  height: calc(100vh - 90px);
}

kendo-drawer-content{
  padding: 20px 30px;
}
.k-icon {
  font-size: 20px;
  
}

.menu .icon{
  font-size: 2rem;
  line-height: 2.625rem;
  /* padding: 2px; */
}
.menu ,li{
  border: 0.094rem solid rgb(248,248,248);
  
}
