
<app-header (toggle)="toggleUpDown(drawer,drawer2)" ></app-header>
<kendo-drawer-container>
  <kendo-drawer id="drawer"  #drawer [items]="items" mode="push" [mini]="false" [expanded]="false">
    <ng-template kendoDrawerTemplate>

      <div  class="menu"  *ngFor="let item of items"
      [ngStyle]="{'border-left': item.active ? '5px solid rgb(55, 0, 255)' : 'none'}"
      (click)="onSelect(item,drawer2)">

      <i class="{{ item.icon }} sideActive"></i>
      {{item.text}}

      </div>
    </ng-template>
  </kendo-drawer>


  <kendo-drawer style="box-shadow: 16px 0 17px -7px rgb(0 0 0 / 8%);    border-top: 0.1px solid;

" id="drawer2"  #drawer2 [items]="subItems" mode="push" [mini]="false" [expanded]="false">
    <ng-template kendoDrawerTemplate>
      <div class="subMenu" *ngFor="let item of subItems" (click)="onSelectSubItem(item,drawer2)">
        <!-- <span class="{{item.icon}}"></span> -->
        <i class="{{ item.icon }}" style="padding-right:10px"></i>
        {{item.text}}
      </div>
    </ng-template>
  </kendo-drawer>
<kendo-drawer-content>
  <router-outlet></router-outlet>
</kendo-drawer-content>


</kendo-drawer-container>
