/* You can add global styles to this file, and also import other style files */
@import url('./kendo-style.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-color:#145388;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

html {
  font-size: 62.5%
}

@media only screen and (max-width: 75em) {
html {
  font-size: 56.25%
}
}

@media only screen and (max-width: 56.25em) {
html {
font-size: 50%
}
}

@media only screen and (min-width: 112.5em) {
html {
font-size: 75%
}
}

body {
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding: 0
}

@media only screen and (max-width: 56.25em) {
body {
padding: 0
}
}

::-moz-selection {
background-color: #55c57a;
color: #fff
}

::selection {
background-color: #55c57a;
color: #fff
}

body {
font-family: 'Nunito', sans-serif;
font-weight: 400;
line-height: 1.7;
color: #777
}

.k-tooltip{
  background-color: white !important;
  color: black !important;
}

kendo-drawer{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 1px 30px 1px rgb(221, 221, 221);
}
 kendo-drawer .k-drawer-wrapper{
    width: 100% !important;
  }

kendo-drawer .k-drawer-wrapper .menu{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    cursor: pointer;
  }

  kendo-drawer .k-drawer-wrapper .subMenu{
    display: flex !important;
    align-items: center;
    padding: 1rem 2.5rem;
    cursor: pointer;
  }




kendo-drawer .k-drawer-wrapper .menu i{
    font-size: 32px;
  }

.dark-mode .k-switch-thumb{
  width: 12px;
  height: 12px;
  background-color: #777;
}
kendo-switch{
  width: 32px !important;
}
.dark-mode .k-switch-md .k-switch-track{
  width: 32px !important;
  height: 16px;
}
.k-switch-off .k-switch-track{
  border: 1px solid #777;;
}
.k-switch-on .k-switch-thumb {
  background-color: #fff !important;
}
.dark-mode .k-switch-md.k-switch-off .k-switch-thumb-wrap {
  left: 8px;
}
.dark-mode .k-switch-md.k-switch-on .k-switch-thumb-wrap {
  left: calc(100% - 8px);

}

.dark-mode .k-switch-md .k-switch-label-off{
  display: none;
}
.dark-mode .k-switch-md .k-switch-label-on{
  display: none;
}

.container{
  display: grid;
}
.container .col{
  /* padding: 10px 15px; */
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
kendo-tooltip{
  width: 130px;
  border-radius: 30px;
  padding: 10px 0 !important;
}
.k-popup{
  width: auto !important;
}

.f-align-center{
  align-items: center;
}
.f-align-justify-center{
  justify-content: center;
  align-items: center;
}
.f-justify-center{
  justify-content: center;

}
.account-tooltip .col .icon{
  font-size: 32px;
  line-height: 42px;
}

.sepator{
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.text-muted{
  color: #909090!important;
}
kendo-popup{
  width: 8rem !important;
}
